:root {
    --text-color: white;
    --page-bg-color: #19191b;
    --secondary-color: #635bff;
    --secondary-color-hover: #4e46f1;
    --font-family: 'Poppins', sans-serif;
    --font-size: 16px; 
    --footer-bg-color: #1c1f24;
    --footer-text-color: white;
    --header-bg-color: #1c1f24;
    --header-text-color: white;
    --padding: 10px;

    /* Dropdown styling */
    --dropdown-bg: #1c1f24;
    --dropdown-text-color: white; 

    /* Button styling */
    --button-bg: #1c1f24;
    --button-text-color: white;
    --button-padding: 0.8rem 1.5rem;
    --button-border-radius: 5px;
}